extends layout

block content
    table(class="table-auto")
      thead
        th idcontrato
        th objectoContrato 
        th dataCelebracaoContrato
        th precoContratual
        th NIPC_entidade_comunicante
        th entidade_comunicante
      tbody 
        each contrato in contratos
          tr
            td
              a(class="w-full m-auto" href="/" + contrato._id) #{contrato._id}
            td #{contrato.objectoContrato}
            td #{contrato.dataCelebracaoContrato}
            td #{contrato.precoContratual}
            td #{contrato.NIPC_entidade_comunicante}
            td #{contrato.entidade_comunicante}
